<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hermes.investment</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ target_home }}/.hermes/bin/hermes-run.sh</string>
        <string>chat</string>
        <string>-Q</string>
        <string>-q</string>
        <string>Run the stock-investment-tracker skill according to its instructions.</string>
        <string>--skills</string>
        <string>stock-investment-tracker</string>
        <string>--yolo</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ target_home }}</string>
        <key>PATH</key>
        <string>{{ hermes_path_prefix }}:{{ ansible_facts['env']['PATH'] | default('/usr/bin:/bin') }}</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{ target_home }}/.hermes/logs/investment.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ target_home }}/.hermes/logs/investment.stderr.log</string>
</dict>
</plist>
