<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hermes.gateway</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ target_home }}/.hermes/bin/hermes-run.sh</string>
        <string>gateway</string>
        <string>run</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ target_home }}</string>
        <key>PATH</key>
        <string>{{ hermes_path_prefix }}:{{ ansible_facts['env']['PATH'] | default('/usr/bin:/bin') }}</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>{{ target_home }}/.hermes</string>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>StandardOutPath</key>
    <string>{{ target_home }}/.hermes/logs/gateway.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ target_home }}/.hermes/logs/gateway.stderr.log</string>
</dict>
</plist>
